{% extends "main/base.html" %}
{% block title %}مشورة ما قبل الزواج{% endblock title %}

{% block content %}
<div x-data="{tab: ''}" role="tablist" class="tabs tabs-bordered">
  {% if is_first_meeting %}
  <a
    role="tab"
    :class="tab === 'maleinfo'? 'tab tab-active' : 'tab'"
    @click="tab = 'maleinfo'"
    hx-get="/maleinfo"
    hx-target="#info"
    hx-swap="innerHTML"
    >بيانات الشريك</a
  >

  <a
    role="tab"
    :class="tab === 'femaleinfo'? 'tab tab-active' : 'tab'"
    @click="tab = 'femaleinfo'"
    hx-get="/femaleinfo"
    hx-target="#info"
    hx-swap="innerHTML"
    >بيانات الشريكة</a
  >
  {% endif %}

  <a
    role="tab"
    :class="tab === 'meetinginfo'? 'tab tab-active' : 'tab'"
    @click="tab = 'meetinginfo'"
    hx-get="/meetinginfo"
    hx-target="#info"
    hx-swap="innerHTML"
    >بيانات اللقاء</a
  >

  <a
    role="tab"
    :class="tab === 'meetingtopics'? 'tab tab-active' : 'tab'"
    @click="tab = 'meetingtopics'"
    hx-get="/meetingtopics"
    hx-target="#info"
    hx-swap="innerHTML"
    >موضوعات اللقاء</a
  >
</div>

<div id="info" class="m-4"></div>
{% endblock content %}
