{% extends "main/base.html" %}
{% block title %}بيانات الأم{% endblock title %}

{% block content %}
<div class="max-w-2xl mx-auto p-4">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-base-200 p-6 rounded-lg shadow">
        {% include "main/components/name.html" with label='الاسم' id='mother-name'%}
        {% include "main/components/number.html" with label='الرقم القومي' placeholder='تأكد من كتابة 14 رقم' id='mother-national-id'%}
        {% include "main/components/number.html" with label='رقم الهاتف' placeholder='تأكد من كتابة 11 رقم' id='mother-phone-number'%}
        {% include "main/components/date.html" with label='تاريخ الميلاد' id='mother-birth-date'%}
        {% include "main/components/education.html" with label='مستوي تعليم الأم' id='mother-education'%}
        {% include "main/components/number.html" with label='عدد الأطفال' id='children-count'%}
        {% include "main/components/number.html" with label='المدة بين اخر حملين' id='duration-between-last-two-pregnancies'%}

        <div class="md:col-span-2 text-right flex justify-end">
            <button class="btn btn-primary">متابعة</button>
        </div>
    </form>
</div>
{% endblock content %}